<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="ch.unibas.urz.android.dashboard" android:versionCode="20110713" android:versionName="0.1">
	<uses-sdk android:minSdkVersion="7" />
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>

	<application android:icon="@drawable/unibasel_with_bg" android:name=".application.DashboardApplication" android:label="@string/title">
		<activity android:name=".view.activity.UnibasDashboardActivity"
			android:label="@string/title">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<provider android:name=".provider.DashboardAppProvider"
			android:authorities="ch.unibas.urz.android.dashboard"></provider>
		<activity android:name=".view.preferences.DashboardPreferenceActivity"></activity>

	</application>
</manifest>